<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="go.id.kominfo.latihandts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LatihanDTS">
        <activity android:name=".activity.InternalStorageActivity"></activity>
        <activity android:name=".list.HondurasActivity" />
        <activity android:name=".list.FilipinaActivity" />
        <activity android:name=".list.DenmarkActivity" />
        <activity android:name=".list.BangladeshActivity" />
        <activity android:name=".list.AustraliaActivity" />
        <activity android:name=".list.GermanyActivity" />
        <activity android:name=".list.SpainActivity" />
        <activity android:name=".list.ArgentinaActivity" />
        <activity android:name=".list.BrazilActivity" />
        <activity android:name=".list.ArabActivity" />
        <activity android:name=".list.BruneiActivity" />
        <activity android:name=".list.IndiaActivity" />
        <activity android:name=".list.KoreaActivity" />
        <activity android:name=".list.JapanActivity" />
        <activity android:name=".list.ChinaActivity" />
        <activity android:name=".list.IndonesiaActivity" />
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.KalkulatorActivity" />
        <activity android:name=".activity.InputNamaActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>